spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/mydb
    username: myuser
    password: mypass
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
